API_KEY="AIzaSyDp_fPNlAj1HxoAHYoRDXea5DZ6Epf5VWA"
AUTH_DOMAIN="practica-firebase-20240197.firebaseapp.com"
PROJECT_ID="practica-firebase-20240197"
STORAGE_BUCKET="practica-firebase-20240197.firebasestorage.app"
MESSAGING_SENDER_ID="31087185832"
APP_ID="1:31087185832:web:04f0e1ea169ddc5e5fd79d"
